﻿@model Jeu

@{
    var jeuxId = ViewBag.jeuxId;
    var Joueurs = ViewBag.Joueurs;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

@section JQueryValidationScripts {
      <partial name="_ValidationScriptsPartial" />
  }
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Jeu" asp-action="Creer" method="post">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nom" class="control-label"></label>
                    <input asp-for="Nom" class="form-control" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateSortie" class="control-label"></label>
                    <input asp-for="DateSortie" class="form-control" />
                    <span asp-validation-for="DateSortie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" rows="5" class="form-control"></>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                    @if (jeuxId != null)
                {
                    <input asp-for="JoueurId" value="@jeuxId" class="form-control" />
                    <span asp-validation-for="JoueurId" class="text-danger"></span>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="JoueurId" class="control-label"></label>
                        <div>
                            <select asp-for="JoueurId" asp-items="@Joueurs" class="form-select"></select>
                        </div>
                    
                    </div>
                }
               
               @* <div class="form-group">
                    <label asp-for="" class="control-label"></label>
                    <input asp-for="Courriel" class="form-control" />
                    <span asp-validation-for="Courriel" class="text-danger"></span>
                </div>*@
                  <div class="form-group">
                    <label asp-for="ScoreJoueur" class="control-label"></label>
                    <input asp-for="ScoreJoueur" class="form-control" />
                    <span asp-validation-for="ScoreJoueur" class="text-danger"></span>
                </div>
                   <div class="form-group">
                    <label asp-for="DateEnregistrement" class="control-label"></label>
                    <input asp-for="DateEnregistrement" class="form-control" />
                    <span asp-validation-for="DateEnregistrement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Modifier" class="form-control btn btn-primary" />
                    <a asp-controller="Jeu" asp-action="Index" class="btn btn-secondary">Retour</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>