﻿@model Jeu

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-5">@Model.Nom</h1>
            <p class="mb-3"><strong>Date de Sortie: </strong> @Model.DateSortie</p>
            <p class="mb-3"><strong>Description:</strong> @Model.Description</p>
            <p class="mb-3"><strong>Joueur:</strong> @Model.Joueur.Prenom @Model.Joueur.Nom</p>
            <p class="mb-3"><strong>Score:</strong> @Model.ScoreJoueur </>
            <div class="text-center">
                <a asp-controller="Jeu" asp-action="index" class="btn btn-primary">Retourner aux jeux</a>
            </div>
        </div>
    </div>
</div>