﻿@model List<Jeu>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <ul>
            <li class="row">
                @foreach (var jeu in Model)
                {
                    <div class="col-sm-4">
                        <div>
                            <div class="card mb-5">
                                <h3 class="card-title text-center">@jeu.Nom </h3>
                                <h4 class="card-text text-center">@jeu.Joueur.Prenom @jeu.Joueur.Nom</h4>
                                <h5 class="card-text text-center">@jeu.DateSortie</h5>
                                <h6 class="card-text text-center">@jeu.DateEnregistrement</h6>
                                <p class="card-text text-center">@jeu.Description</p>
                                <a class="btn btn-outline-info" type="button" asp-controller="Jeu" asp-route-id=@jeu.Id asp-action="Modifier">Modifier</a>
                                <a class="btn btn-outline-primary" type="button" asp-controller="Jeu" asp-route-id=@jeu.Id asp-action="Details">Details</a>
                                <a class="btn btn-outline-danger"  type="button" asp-controller="Jeu" asp-route-id=@jeu.Id onclick="return confirm" asp-action="Supprimer">Supprimer</a>

                            </div>
                        </div>
                    </div>
                }
            </li>
        </ul>
        <a class="btn btn-outline-primary" type="button" asp-controller="Jeu" asp-action="Creer">Ajouter un jeu</a>
    </div>
</body>
</html>