﻿@model Joueur

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

@section JQueryValidationScripts {
      <partial name="_ValidationScriptsPartial" />
  }

<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Joueur" asp-action="Creer" method="post">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nom" class="control-label"></label>
                    <input asp-for="Nom" class="form-control" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenom" class="control-label"></label>
                    <input asp-for="Prenom" class="form-control" />
                    <span asp-validation-for="Prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Equipe" class="control-label"></label>
                    <input asp-for="Equipe" rows="5" class="form-control"></>
                    <span asp-validation-for="Equipe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone"  class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Courriel" class="control-label"></label>
                    <input asp-for="Courriel" class="form-control" />
                    <span asp-validation-for="Courriel" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="Jeux" class="control-label"></label>
                    <input asp-for="Jeux" class="form-control" />
                    <span asp-validation-for="Jeux" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Creer" class="form-control btn btn-primary" />
                    <a asp-controller="Joueur" asp-action="Index" class="btn btn-secondary">Retour</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>