﻿@model List<Joueur>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <ul>
            <li class="row">
                @foreach (var joueur in Model)
                {
                    <div class="col-sm-4">
                        <div>
                            <div class="card mb-5">
                                <h4 class="card-title text-center">@joueur.Prenom @joueur.Nom</h4>
                                <h5 class="card-text text-center">@joueur.Equipe</h5>
                                <h6 class="card-text text-center">@joueur.Courriel @joueur.Telephone</h6>
                                <a class="btn btn-outline-info" type="button" asp-controller="Joueur" asp-route-id=@joueur.Id asp-action="Modifier">Modifier</a>
                                <a class="btn btn-outline-danger" type="button" asp-controller="Joueur" asp-route-id=@joueur.Id onclick="return confirm" asp-action="Supprimer">Supprimer</a>
                            </div>
                        </div>
                    </div>
                }
            </li>
        </ul>
        <a class="btn btn-outline-primary" type="button" asp-controller="Joueur" asp-action="Creer">Ajouter un joueur</a>
    </div>
</body>
</html>